body {
    background-image: url('mountain.jpg'); /* Source: iStockPhoto */
    
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
<<<<<<< HEAD
    margin-top: 50px;
    background-color: rgb(245, 95, 95);
=======
    margin-top: 400px;
    background-color: rgb(92, 92, 92);
>>>>>>> main
    opacity: 0.9;
    color: rgb(220, 235, 230);
    padding: 40px;
}

<<<<<<< HEAD

.airline {
    margin-top: 40px;
    background-color: rgb(245, 95, 95);
    opacity: 0.9;
    color: rgb(5, 6, 6);
    padding: 40px;
}

.top-20 {
    margin-top: 20px;
    background-color: rgb(245, 95, 95);
=======
.top-20 {
    margin-top: 20px;
>>>>>>> main
}

h5 {
    color: #111204;
}

section {
    margin-bottom: 50px;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: #75e6e6;
}

label.form {
    font-size: 14px;
    margin-right: 20px;
}
input {
    margin-right: 20px;
<<<<<<< HEAD
}


.buttons{
    margin-right: 10px;
    margin-left: 10px;
=======
>>>>>>> main
}